<%= link_to "New Workout", new_workout_path(@workout), style:"margin:30px" %>


<%@workouts.each do |workout|%>
<div class="uk-card uk-card-hover uk-card-default uk-animation-fade">
<center>
    <ul>
    <% if workout.image.attached? %>
        <h2><%=workout.exercise%></h2>
    <div style="uk-position-center">
    <%=image_tag(workout.image, style: "height:16rem; width:16rem; margin:20px; box-shadow: .1rem .1rem .1rem .1rem #1e87f0")%>
    </div>
        <li><%=workout.muscle%></li>
        <li><%=workout.calories_burned%> Calories</li>
        <li><%=workout.sets%> Sets</li>
        <li><%=workout.reps%> Reps</li>
        <li><%=workout.weight_amount%> Lbs</li>
        <li><%=workout.workout_date.strftime('%B %-d, %Y')%></li>
<br />
        <div class="button">
        <%= link_to "Edit", edit_workout_path(workout), style:"margin:10px" %>
        </div>
        <div class="button">
        <%= link_to "Delete", workout_path(workout), method: :delete, style:"margin:10px" %>
        </div>
<% else %>
    <div style="uk-position-center">
        <h2><%=workout.exercise%></h2>
        <li><%=workout.muscle%></li>
        <li><%=workout.calories_burned%> Calories</li>
        <li><%=workout.sets%> Sets</li>
        <li><%=workout.reps%> Reps</li>
        <li><%=workout.weight_amount%> Lbs</li>
        <li><%=workout.workout_date.strftime('%B %-d, %Y')%></li>
    </div>
<br />
    <div class="button">
    <%= link_to "Edit", edit_workout_path(workout), style:"margin:10px" %>
    </div>
    <div class="button">
    <%= link_to "Delete", workout_path(workout), method: :delete, style:"margin:10px"%>
    </div>
<%end%>
</center>
</div>
</ul>

<%end%>