<%= link_to "New Workout", new_workout_path(@workout) %>


<%@workouts.each do |workout|%>

<ul>

<li><%=workout.exercise%></li>
<li><%=workout.muscle%></li>
<li><%=workout.calories_burned%></li>
<li><%=workout.sets%></li>
<li><%=workout.reps%></li>
<li><%=workout.workout_date%></li>
</ul>


<%end%>