<%= link_to "New Workout", new_workout_path(@workout) %>

<%if @workout.image.attached?%>
<div style="width:400px; height:400px">
<%=image_tag(@workout.image, style:'width:100%')%>
</div>




<div>
<h2>Type of workout: <%=@workout.exercise%></h2>
</div>

<div>
<p>Muscle Targeted: <%=@workout.muscle%></p>
</div>

<div>
<p>Total Calories Burned: <%=@workout.calories_burned%></p>
</div>

<div>
<p>Sets / Reps: <%=@workout.sets%> x <%=@workout.reps%></p>
</div>

<div>
<p>Weight Amount: <%=@workout.weight_amount%></p>
</div>

<div>
<p>Date: <%=@workout.workout_date%></p>
</div>
<%else%>
<%end%>

<%= link_to "Edit workout", edit_workout_path(@workout) %>
