<%@meals.each do |meal|%>
<div class="uk-card uk-card-hover uk-card-default uk-animation-fade">
<center>
<ul>
<% if meal.image.attached? %>
<h2><%=meal.meal_name%></h2>
<li><%=meal.meal_type%></li>
<div style="width:300px; height:300px">
<%=image_tag(meal.image, style: 'width:auto')%>
</div>

<li><%=meal.calories_consumed%> calories</li>
<li><%=meal.created_at%></li>
<br />


<%else%>
<h2><%=meal.meal_name%></h2>
<li><%=meal.meal_type%></li>
<li><%=meal.calories_consumed%> calories</li>
<li><%=meal.created_at%></li>
<br />


<%end%>
</center>
</div>
</ul>

<%end%>
