<h1>My Profile</h1>

<ul>

<li>Name: <%=@user.name%></li>
<%if @user.avatar.attached?%>
<div style="width:400px; height:auto">
<%=image_tag(@user.avatar, style:'width: 100%; border-radius:100%')%>
</div>

<li>Email: <%=@user.email%></li>
<li>Gym: <%=@user.gym%></li>
<li>Gender: <%=@user.gender%></li>
<li>Height: <%=@user.height%> ft</li>
<li>Weight: <%=@user.weight%> lbs</li>
<li>D.O.B: <%=@user.dob%></li>
<br />
<%else%>

<li>Email: <%=@user.email%></li>
<li>Gym: <%=@user.gym%></li>
<li>Gender: <%=@user.gender%></li>
<li>Height: <%=@user.height%> ft</li>
<li>Weight: <%=@user.weight%> lbs</li>
<li>D.O.B: <%=@user.dob%></li>
<br />
<%end%>

</ul>


