<%= link_to "New Meal", new_meal_path(@meal) %>


<div>
<h2>Name of Meal: <%=@meal.meal_name%></h2>
</div>

<div>
<p>Type of Meal: <%=@meal.meal_type%></p>
</div>

<div style="width:400px; height:400px">
<%=image_tag(@meal.image, style:'width:100%')%>
</div>

<div>
<p>Total Calories: <%=@meal.calories_consumed%></p>
</div>

<div>
<p>Date:<%=@meal.created_at%></p>
</div>

<%= link_to "Edit Meal", edit_meal_path(@meal) %>


